<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div id="container-main">
      <div id="container-main-inner">
        <p>path: <%= card[:path] %></p>
        <p>
          tags:
          <% for tag in card[:tags] %>
          <a class="tag" href="/tag/<%= tag %>">
            <%= "##{tag}" %>
          </a>
          <% end %>
        </p>

        <p>
          links:
          <% for link in card[:links] %>
          <a class="link" href="/card/<%= link %>">
            <%= ">#{link}" %>
          </a>
          <% end %>
        </p>

        <form method="post">
          <label for="tag">tag: #</label>
          <input name="tag" type="text" required />
          <input name="add-tag" type="submit" value="add" />
          <input name="untag" type="submit" value="remove" />
        </form>

        <form method="post">
          <label for="link">link: @</label>
          <input name="link" type="text" required />
          <input name="add-link" type="submit" value="add" />
          <input name="unlink" type="submit" value="remove" />
        </form>

        
        <img src="/img/<%= card[:pk] %>" />
       
      </div>
    </div>
  </body>
</html>
