<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div id="container-main">
      <% unless tag.nil? %>
      <a class="tag" href="/tag/<%= tag %>">
        <%= "##{tag}" %>
      </a>
      <% end %>

      <% if page != 0 %>
      <a href="?page=<%= page-1 %>"><%= "<<< #{page-1}" %></a>
      <% end %>

      <% if page_size * (page + 1) < cards.length %>
         <a href="?page=<%= page+1 %>"><%= "#{page+1} >>>" %></a>
      <% end %>

      
      <div id="grid-wrapper">
        <table id="grid">
          <tbody>
            <% cards[(page_size*page),page_size].each_slice(table_width) do |slice| %>
            <tr>
              <% slice.each do |card| %>
              <td>
                <div class="cell">
                  <div class="hotbar">
                    <p>
                      <a class="at" href="/card/<%= card[:pk] %>" target="_blank">
                        @<%= card[:pk] %>
                      </a>
                      
                      <% for tag in card[:tags] %>
                      <a class="tag" href="/tag/<%= tag %>">
                        <%= "##{tag}" %>
                      </a>
                      <% end %>

                      <% for link in card[:links] %>
                      <a class="link" href="/card/<%= link %>">
                        <%= ">#{link}" %>
                      </a>
                      <% end %>
                    </p>
                  </div>

                  <img src="/img/<%= card[:pk] %>" />
                </div>
              </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <% if page != 0 %>
      <a href="?page=<%= page-1 %>"><%= "<<< #{page-1}" %></a>
      <% end %>

      <% if page_size * (page + 1) < cards.length %>
         <a href="?page=<%= page+1 %>"><%= "#{page+1} >>>" %></a>
      <% end %>

    </div>
  </body>
</html>
