<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div id="container-main">
      <div id="container-main-inner">
        <% for tag in tags %>
        <p>
          <a class="tag" href="/tag/<%= tag %>">
            <%= "##{tag}" %>
          </a>
        </p>
        <% end %>
      </div>
    </div>
  </body>
</html>
