body {
    font-family: monospace;
}

#container-main {
    /* display: grid; */
    /* place-items: center; */
    /* padding: 2em; */
}

#container-main-inner {
    width: 50%;
    /* background-color: ivory; */
    /* padding: 2em; */
}

#container-main-inner img {
    width: 100%;
}

.tag, .at, .link {
    margin: 0.2em;
    text-decoration: none;
}

.tag {
    color: blue;
}

.link {
    color: plum;
}

.at {
    margin: 0.2em;
    color: turquoise;
    text-decoration: none;
}


.tag:hover, .link:hover, .at:hover {
    border: 1px solid black;
}

table {
    table-layout: fixed;
}

#grid-wrapper {
    width: 50%;
}

/* #grid td { */
/*     background-color: ivory; */
/*     border: 1px solid black; */
/*     vertical-align: top; */
/* } */

/* #grid td:hover { */
/*     background-color: #eee; */
/* } */

#grid td img {
    width: 100%;
}

.cell {
    border: solid black 1px;
}

.cell:hover {
    background-color: #efe;
}

.hotbar {
    width: 100%;
    text-align: left;
}
